footer {
  padding: 0px 25px;
  color: white;
  background-image: url(../images/spotify_gradient.png);
}

footer div div {
  text-align: center;
}

footer h2 {
  font-size: 1.2em;
}

footer p {
  font-size: .8em;
}
