/*
---------------------------------------------
#id 
---------------------------------------------
*/
#game_background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../images/game_images/forest_background.png);
  min-height: 500px;
}

#game_background p {
  font-size: 1.2em;
  font-weight: bold;
}

#human_player_sprite {
  position: relative;
  top: 190px;
  left: 160px;
}

#player_dice, #computer_dice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  margin: auto;
}

#player_box, #computer_box {
  text-align: center;
  max-height: 100px;
}

#computer_skeleton, #human_player {
  margin-top: 25px;
}

#computer_skeleton_sprite {
  position: relative;
  top: 180px;
  left: 160px;
}

#player_round_score, #computer_round_score {
  margin-right: 62px;
}

#human_player {
  margin-left: 30px;
}

#round_counter {
  text-align: center;
}

/*
---------------------------------------------
.class
---------------------------------------------
*/
.die_placeholder {
  visibility: hidden;
}

.scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
}
