html {
    box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    height: 100%
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

header{
    background-color:black;
}

main{
    margin: auto;
    max-width: 90%;

}

section{
    margin-bottom: 50px;
}

article{
    margin-bottom: 50px;
}

li{
    max-width: fit-content;
    padding: 10px;
}

button{
    background-color: #a8679e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover{
    background-color: lighten(#a8679e, $amount: 10%);
}

/*
---------------------------------------------
#id 
---------------------------------------------
*/

#header_style{
    text-align: center;
    color: white;
}

#wrapper{
    height: 100%;
    max-width: 100%;
    padding: 10px 20px;
    background-color: #ebe8e7;
    flex-grow: 1;
}

#main_buttons{
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin: 50px auto;
}

#instructions_text{
    display: flex;
    justify-content: space-around;
    color: black;
    margin: auto;
    max-width: 953px;
}

#how_to_play, #game_rules{
    flex-grow: 1;
    background-color: white;
    padding: 10px;
    margin: 0 10px;
}