html {
    box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    height: 100%
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

header{
    background-color:black;
}

main{
    margin: auto;
    max-width: 90%;

}

section{
    margin-bottom: 50px;
}

article{
    margin-bottom: 50px;
}

li{
    max-width: fit-content;
    padding: 10px;
}

/*
---------------------------------------------
#id 
---------------------------------------------
*/

#header_style{
    text-align: center;
    color: white;
}

#wrapper{
    height: 100%;
    max-width: 100%;
    padding: 10px 20px;
    background-color: #ebe8e7;
    flex-grow: 1;
}