#overlay {
    position: fixed;
    height: 100%; 
    width: 100%;
    top: 0;
    right: 0;  
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.589);
    display: none;
    color: black;
 }
 
 #popup {
    max-width: 600px;
    width: 80%;
    max-height: 300px;
    height: 80%; 
    padding: 20px;
    position: relative;
    background: rgb(206, 206, 206);
    margin: 325px auto;
    text-align: center;
    border-radius: 25px;
    box-shadow: 10px 10px 20px black;
 }
 
 #close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #000;
 }

 #popup_messages{
     margin-top: 50px;
 }

#end_game_score{
    margin-bottom: 50px;
}

 #popup_buttons{
    display: flex;
    justify-content: space-around;
 }
