footer {
  padding: 0px 25px;
  color: white;
  background-image: url(../images/spotify_gradient.png);
}

footer div div {
  text-align: center;
}

footer h2 {
  font-size: 1.2em;
}

footer p {
  font-size: .8em;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

header {
  background-color: black;
}

main {
  margin: auto;
  max-width: 90%;
}

section {
  margin-bottom: 50px;
}

article {
  margin-bottom: 50px;
}

li {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 10px;
}

/*
---------------------------------------------
#id 
---------------------------------------------
*/
#header_style {
  text-align: center;
  color: white;
}

#wrapper {
  height: 100%;
  max-width: 100%;
  padding: 10px 20px;
  background-color: #ebe8e7;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/*
---------------------------------------------
#id 
---------------------------------------------
*/
#game_background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url(../images/game_images/forest_background.png);
  min-height: 500px;
}

#human_player_sprite {
  position: relative;
  top: 170px;
  left: 60px;
}

#player_dice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 220px;
  position: relative;
}

#player_box {
  text-align: center;
  max-height: 100px;
}

#computer_skeleton, #human_player {
  margin-top: 25px;
}

#computer_skeleton_sprite {
  position: relative;
  top: 170px;
  left: 70px;
}

#computer_box {
  text-align: center;
  max-height: 100px;
}

#computer_dice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 220px;
  position: relative;
}

/*
---------------------------------------------
#id 
---------------------------------------------
*/
/*
---------------------------------------------
media queries 
---------------------------------------------
*/
@media screen and (min-width: 1024px) {
  main {
    margin: auto;
    max-width: 1200px;
  }
  footer > div {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1200px;
  }
}
